<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <title>Relmon Service</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mt-3"> RelMon service</h1>
      <a class="btn btn-outline-primary btn-sm mt-1" data-toggle="collapse" href="#new_relmon" role="button" aria-expanded="false" aria-controls="new_relmon">
        Create new RelMon
      </a>
      <button type="button" class="btn btn-outline-primary btn-sm mt-1" onclick="tick();">Refresh</button>
      <div class="collapse row card mt-2" id="new_relmon">
        <div>
          <h5 class="card-header">Create new RelMon</h5>
          <div class="card-body">
            <form id="createForm">
              <h5>Name</h5>
              <input type="text" id="relmon_name" class="w-100">

              <ul class="nav nav-tabs mt-2" style="margin-left: -1.25rem; margin-right: -1.25rem; padding-left: 1.25rem; padding-right: 1.25rem;">
                <li class="nav-item">
                  <a class="nav-link active" id="new_relmon_data_tab" data-toggle="tab" href="#new_relmon_data" role="tab" aria-controls="new_relmon_data" aria-selected="true">Data</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="new_relmon_fullsim_tab" data-toggle="tab" href="#new_relmon_fullsim" role="tab" aria-controls="new_relmon_fullsim" aria-selected="false">FullSim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="new_relmon_fastsim_tab" data-toggle="tab" href="#new_relmon_fastsim" role="tab" aria-controls="new_relmon_fastsim" aria-selected="false">FastSim</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="new_relmon_generator_tab" data-toggle="tab" href="#new_relmon_generator" role="tab" aria-controls="new_relmon_generator" aria-selected="false">Generator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="new_relmon_fullsim_pu_tab" data-toggle="tab" href="#new_relmon_fullsim_pu" role="tab" aria-controls="new_relmon_fullsim_pu" aria-selected="false">FullSim PU</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="new_relmon_fastsim_pu_tab" data-toggle="tab" href="#new_relmon_fastsim_pu" role="tab" aria-controls="new_relmon_fastsim_pu" aria-selected="false">FastSim PU</a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade show active" id="new_relmon_data" role="tabpanel" aria-labelledby="new_relmon_data_tab">
                  <h3>Data</h3>
                  <h5>Reference</h5>
                  <textarea id="data_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="data_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>HLT</h5>
                  <select id="data_hlt">
                    <option value="both">Both</option>
                    <option value="only">Only HLT</option>
                    <option value="no">No HLT</option>
                  </select>
                  <h5>Pairing</h5>
                  <select id="data_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
                <div class="tab-pane fade" id="new_relmon_fullsim" role="tabpanel" aria-labelledby="new_relmon_fullsim_tab">
                  <h3>FullSim</h3>
                  <h5>Reference</h5>
                  <textarea id="fullsim_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="fullsim_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>HLT</h5>
                  <select id="fullsim_hlt">
                    <option value="both">Both</option>
                    <option value="only">Only HLT</option>
                    <option value="no">No HLT</option>
                  </select>
                  <h5>Pairing</h5>
                  <select id="fullsim_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
                <div class="tab-pane fade" id="new_relmon_fastsim" role="tabpanel" aria-labelledby="new_relmon_fastsim_tab">
                  <h3>FastSim</h3>
                  <h5>Reference</h5>
                  <textarea id="fastsim_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="fastsim_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>HLT</h5>
                  <select id="fastsim_hlt">
                    <option value="both">Both</option>
                    <option value="only">Only HLT</option>
                    <option value="no">No HLT</option>
                  </select>
                  <h5>Pairing</h5>
                  <select id="fastsim_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
                <div class="tab-pane fade" id="new_relmon_generator" role="tabpanel" aria-labelledby="new_relmon_generator_tab">
                  <h3>Generator</h3>
                  <h5>Reference</h5>
                  <textarea id="generator_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="generator_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>Pairing</h5>
                  <select id="generator_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
                <div class="tab-pane fade" id="new_relmon_fullsim_pu" role="tabpanel" aria-labelledby="new_relmon_fullsim_pu_tab">
                  <h3>FullSim PU</h3>
                  <h5>Reference</h5>
                  <textarea id="fullsim_pu_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="fullsim_pu_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>HLT</h5>
                  <select id="fullsim_pu_hlt">
                    <option value="both">Both</option>
                    <option value="only">Only HLT</option>
                    <option value="no">No HLT</option>
                  </select>
                  <h5>Pairing</h5>
                  <select id="fullsim_pu_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
                <div class="tab-pane fade" id="new_relmon_fastsim_pu" role="tabpanel" aria-labelledby="new_relmon_fastsim_pu_tab">
                  <h3>FastSim PU</h3>
                  <h5>Reference</h5>
                  <textarea id="fastsim_pu_reference" class="w-100" style="min-height: 150px"></textarea>
                  <h5>Target</h5>
                  <textarea id="fastsim_pu_target" class="w-100" style="min-height: 150px"></textarea>
                  <br>
                  <h5>HLT</h5>
                  <select id="fastsim_pu_hlt">
                    <option value="both">Both</option>
                    <option value="only">Only HLT</option>
                    <option value="no">No HLT</option>
                  </select>
                  <h5>Pairing</h5>
                  <select id="fastsim_pu_pairing">
                    <option value="automatic">Automatic</option>
                    <option value="manual">Manual</option>
                  </select>
                </div>
              </div>

              <hr style="margin-left: -1.25rem; margin-right: -1.25rem;">
              <button type="button" class="btn btn-outline-primary btn-sm" onclick="createRelmon();">Create relmon</button>
              <div id="createFormStatus"></div>
            </form>
          </div>
        </div>
      </div>

      {% for relmon in data %}
        <div class="row card mt-2">
          <h5 class="card-header">RelMon: {{ relmon.name }}</h5>
          <div class="card-body">
            Name: {{ relmon.name }}<br>
            ID: {{ relmon.id }}<br>
            Status: {{ relmon.status}}<br>
            Last update: {{ relmon.last_update }}<br>
            Condor status: {{ relmon.condor_status}}<br>
            Condor job ID: {{ relmon.condor_id}}<br>
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="resetRelmon({{ relmon.id }});">Reset relmon</button>
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="deleteRelmon({{ relmon.id }});">Delete relmon</button>
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="editRelmon({{ relmon.id }});">Edit relmon</button>
            <h3>Category summary</h3>
            <ul>
              {% for category in relmon.categories %}
                <li>{{ category.name }} - {{ category.status }}</li>
                  <ul>
                    <li>References ({{ category.reference | length }}):
                      <ul>
                        {% for ref_status in category.reference_status %}
                          <li>{{ref_status}}: {{category.reference_status[ref_status]}}</li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li>Targets ({{ category.target | length }}):
                      <ul>
                        {% for tar_status in category.target_status %}
                          <li>{{tar_status}}: {{category.target_status[tar_status]}}</li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
            <h3>Categories</h3>
            {% for category in relmon.categories %}
              <a class="btn btn-outline-primary btn-sm mt-1" data-toggle="collapse" href="#category_{{relmon.id}}_{{category.name}}" role="button" aria-expanded="false" aria-controls="category_{{relmon.id}}_{{category.name}}">
                {{ category.name }}
              </a>
              <div class="collapse" id="category_{{relmon.id}}_{{category.name}}">
                <h3>{{ category.name }}</h3>
                Status: {{ category.status }}<br>
                HLT: {{ category.HLT }}<br>
                Automatic pairing: {{ category.automatic_pairing }}
                <h5>Reference</h5>
                <ul>
                {% for wf in category.reference %}
                  <li>Name: {{ wf.name }} ({{ wf.status }})<br>
                      <small>File: {{ wf.file_name }}</small><br>
                      <small>File location: {{ wf.file_url }}</small><br>
                      <small>File size: {{ (wf.file_size / (1024.0 * 1024.0)) | round }}MB</small>
                  </li>
                {% endfor %}
                </ul>
                <h5>Target</h5>
                <ul>
                {% for wf in category.target %}
                  <li>Name: {{ wf.name }} ({{ wf.status }})<br>
                      <small>File: {{ wf.file_name }}</small><br>
                      <small>File location: {{ wf.file_url }}</small><br>
                      <small>File size: {{ (wf.file_size / (1024.0 * 1024.0)) | round }}MB</small>
                  </li>
                {% endfor %}
              </div><br>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Relmon JavaScript -->
    <script src="static/script.js" type="text/javascript"></script>
  </body>
</html>